<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Farbeingabe</title>
    <style>
        body {
        margin: 0 auto;
        text-align: center;
        margin-top: 20%;
        }
    </style>
</head>
<body th:style="${backgroundColor}">
<h1 th:style="${colorText}"> Willkommen bei deiner Farben-Disco!</h1>

<form method="post" action="colorForm" th:object="${color}">
    <input id="color" name="color" type="color">
    <button type="submit">Ok!</button>
</form>
<form method="get" action="start">
    <button type="submit">Ergebnis</button>
</form>
</body>
</html>